<!--section id="Footer"></section-->
<footer id="footer">
    <div class="container-fluid mt-4 text-center py-2" style="color: white; background-color: #563d7c;">
        <div class="text-center py-1">
            <div class="copyright">
                &copy;Copyright&nbsp;<strong><span>talentlab.cl</span></strong>. All Rights Reserved
            </div>
        </div>
        <div class="container-fluid py-1">
            <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-whatsapp" style="color: white"></i></a>&nbsp;
                <a href="#" class="facebook"><i class="fa fa-facebook" style="color: white"></i></a>&nbsp;
                <a href="#" class="instagram"><i class="fa fa-instagram" style="color: white"></i></a>
            </div>
        </div>

    </div>
</footer>